@import "themes.scss";
@import "mixins.scss";

.layoutActions {
    &Sidebar {
        border-right: 1px solid var(--Fill-Divider);
    }

    &Wrapper {
        z-index: 0;

        &:before {
            content: "";
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            background-color: var(--Fill-Secondary);
            z-index: -2;
        }

        &:after {
            content: "";
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 50%;
            background: var(--Fill-Background);
            z-index: -1;
        }
    }
}

.card {
    border-radius: 4px;
    border: 1px solid var(--Fill-Divider);
}

.tableContainer {
    >table {
        >thead>tr {
            background: var(--Fill-Secondary);

            >th {
                color: var(--Text-On-Fill-Secondary) !important;
            }
        }

        >tbody>tr {
            &:nth-child(odd) {
                background: var(--Fill-Primary);
            }

            &:nth-child(even) {
                background: var(--Fill-Tertiary);
            }
        }

        th,
        td {
            padding: var(--padding);
        }
    }
}