@keyframes ghost-node-in{
    0%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes ghost-node-dissapear{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}