@import "themes.scss";
@import "variables.scss";
@import "mixins.scss";
@import "animations.scss";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  border: 0px;
  margin: 0px;
  background-color: var(--fill-primary);
  color: var(--text-primary);
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  transition:
    0.2s cubic-bezier(0.4, 0, 1, 1) background-color,
    1.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) color;
  * {
    box-sizing: border-box;
    position: relative;
  }

  a {
    &.buttonLink {
      text-decoration: none;
    }
  }
}
