@mixin label {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: var(--text);
}

@mixin text($style) {
    $size: var(--fontSize-Body);
    $weight: var(--fontWeight-Body);

    @if $style =='largeTitle' {
        $size: var(--fontSize-Body);
        $weight: var(--fontWeight-Body);
    }

    @if $style =='title' {
        $size: var(--fontSize-Title);
        $weight: var(--fontWeight-Title);
    }

    @if $style =='title2' {
        $size: var(--fontSize-Body);
        $weight: var(--fontWeight-Body);
    }

    @if $style =='title3' {
        $size: var(--fontSize-Body);
        $weight: var(--fontWeight-Body);
    }

    @if $style =='body' {
        $size: var(--fontSize-Body);
        $weight: var(--fontWeight-Body);
    }

    @if $style =='callout' {
        $size: var(--fontSize-Callout);
        $weight: var(--fontWeight-Callout);
    }

    @if $style =='subhead' {
        $size: var(--fontSize-Subhead);
        $weight: var(--fontWeight-Subhead);
    }

    @if $style =='headline' {
        $size: var(--fontSize-Headline);
        $weight: var(--fontWeight-Headline);
    }

    @if $style =='footnote' {
        $size: var(--fontSize-Headline);
        $weight: var(--fontWeight-Headline);
    }

    @if $style =='caption' {
        $size: var(--fontSize-Headline);
        $weight: var(--fontWeight-Headline);
    }

    font-size: $size;
    font-weight: $weight;
}