:root{
    --background: #f4f4f4;
    --text: #161719;

    --area-placeholder-fill: #dce0eb;
    --divider: #ddd;
    --section: #fff;

    --sidebar-fill: #fff;
    --sidebar-text: #161719;
    
    --sidebar-navigation-focus-fill: #2884ff;
    --sidebar-navigation-focus-text: #fff;
    --sidebar-navigation-focus-icon: #fff;
    --sidebar-navigation-fill: var(--sidebar-fill);
    --sidebar-navigation-text: var(--sidebar-text);
    --sidebar-navigation-icon: var(--sidebar-text);
}